img {
    max-width: 600px;
    max-height: auto;
    margin-top: -70px;
    margin-bottom: 10px;
    margin-left: 100px;
}

div {
    text-align: center;
    /*Div takes up 100% of viewport*/
    width: 100%;
    margin-top: 100px;
}

label {
    /*Aligns labels and input elements with each other*/
    width: 102px;
    display: inline-block;
    font-family: 'Oxygen', sans-serif;
    /*Makes font bold*/
    font-weight: bold;
}

button {
    /*Aligns button directly underneath input elements*/
    position: relative;
    width: auto;
    margin-left: 100px;
    margin-top: 5px;
    border-radius: 5px;
    border: solid 1px black;
}